.idea/
.idea/*
*/.idea/
*/.idea/*
*.iml
*/.iml

.DS_Store
*/.DS_Store

target/
target/*
*/.target/
*/.target/*

.settings/
.settings/*
*/.settings/
*/.settings/*

.classpath
.project
*/.classpath
*/.project

velocity.log
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/lib/*

src/main/webapp/assets/frontend/pages/img/products/*/
src/main/webapp/assets/frontend/pages/img/products/*/*
